# Owners for all files
* @arifmohamedkhan

# Owners for documentation files
*.md @arifmohamedkhan

# Owners for core backend files
/src/app.py @arifmohamedkhan
/src/backend/database.py @arifmohamedkhan
/src/backend/routers/auth.py @arifmohamedkhan

# Owners for static files (frontend)
/src/static/ @arifmohamedkhan
