# Core functionality - changes here should be rare!
/src/app.py                   @arifmohamedkhan
/src/backend/database.py      @arifmohamedkhan
/src/backend/routers/auth.py  @arifmohamedkhan

# The frontend will need refactored soon to be more object oriented.
/src/static/   @arifmohamedkhan
